p.terms Penkit is to be used for the sole purpose of learning about computer security on computers or other electronic devices you own. You may not use penkit to test, exploit, attack or in any way interact with computers or electronic devices that you do not own. <a href="/legal/TERMS.txt" target="_blank">Click here to read the full Terms of Service.</a>