div.project-description
  p <strong>penkit</strong> is a training toolkit for pen testers.
  p Using the power of <a href="https://www.docker.com/">docker</a>, <strong>penkit</strong> images allow you to practice exploiting specific, isolated vulnerabilities.
ul.project-links
  li: a href="https://gitlab.com/penkit/" <i class="fa fa-gitlab" aria-hidden="true"></i>
  li: a href="https://hub.docker.com/u/penkit/" <i class="fa fa-th-large" aria-hidden="true"></i>