div.content
  h2 Install
  div.install-instructions
    div.badges
      markdown:
        [![Gem Version](https://badge.fury.io/rb/penkit.svg)](https://badge.fury.io/rb/penkit)
        [![build status](https://gitlab.com/penkit/penkit/badges/master/build.svg)](https://gitlab.com/penkit/penkit/commits/master)
        [![coverage report](https://gitlab.com/penkit/penkit/badges/master/coverage.svg)](https://gitlab.com/penkit/penkit/commits/master)
        [![License: MIT](https://img.shields.io/badge/License-MIT-yellow.svg)](/legal/LICENSE.txt)
    
    markdown:
      Penkit has only a couple of requirements and three different install options.

      ### Prerequisites

      - Linux or OSX (x86-64)
      - Docker 1.13+
      - Ruby and rubygems (optional)

      ### Installation

      #### Option 1: Quick install

      Try our easy install script. ([view source](http://get.penkit.io))

      ```bash
      $ wget -qO- http://get.penkit.io | sh
      ```

      #### Option 2: Ruby gem

      You can install the penkit gem directly from [rubygems.org](https://rubygems.org/gems/penkit):

      ```bash
      $ gem install penkit
      $ penkit help
      ```

      For more install options [view our full readme](https://gitlab.com/penkit/penkit).

  p.guides-cta Now that you've installed penkit, try our guides.
  a class="guides" href="/guides" Guides
