// Import sass variables
@import 'colors';
@import 'fonts';

// Import mixins
@import 'mixins';

/******************** 
General styles
********************/
body {
  height: 100vh;
  color: $black;
}

p {
  font-size: 17px;
}

div.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $primary;
}

h2 {
    font-size: 2.5em;
    text-align: center;
  }

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

code, pre {
  padding: 3px 6px;
  margin: 0 10px;
  background-color: $gray-light;
  border: 1px solid $gray;
}

pre {
  line-height: 25px;
}

div.content {
  padding: 40px 10px;
  box-sizing: border-box;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 0;
  }
}

/******************** 
Header
********************/
h1#logo {
  font-family: $logo-font;
  letter-spacing: 2px;
  font-size: 4em;
  text-align: center;
  margin-bottom: 20px;

  a {
    color: $black
  }
}

nav {
  ul {
    @include inline-ul;
    text-align: center;

    li {
      margin: 0 20px 0 0;
      font-size: 1.1em;
    
      &:last-child {
        margin: 0;
      }
    }
  }
}

/******************** 
Footer
********************/
footer {
  text-align: center;

  ul.project-links {
    @include inline-ul;
  
    li {
      margin: 0 20px;

      a {
        font-size: 2em;
      }
    }
  }

  ul.legal {
    @include inline-ul;
    
    li {
      margin: 0 20px;
    }
  }
}

/******************** 
Home Page
********************/
div.project-description {
  
  p {
  font-family: $body-font;
  text-align: center;
  font-size: 1.3em;
  line-height: 160%;
  }

  ul.cta {
    @include inline-ul;
    margin-top: 50px;
    
    li {
      margin: 10px 25px;

      a {
        &.install {
          @include button-large($primary, $primary, $white);
        }

        &.guides {
          @include button-large($primary, $white, $primary);
        }
      }
    }
  }
}

/******************** 
Contact Page
********************/
p.contact-cta {
  font-size: 1.4em;
  text-align: center;
}

ul.contact-methods {
  padding: 0;
  margin-top: 33.2px;

  li {
    list-style: none;
    margin: 0 20px 20px;
    display: inline-block;
  }
}

a.contact-link {
  display: block;
  text-align: center;
  width: 160px;

  div.icon-container {
    border: 3px solid $primary;
    width: 100px;
    margin: 0 30px;
    height: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    margin-top: 15px;
    font-size: 1.5em;
  }

  i, span {
    display: block;
  }
}

/******************** 
About Page
********************/
div.project, div.maintainers {
  width: 100%;
  margin-bottom: 40px;
}

div.bios {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  div.bio {
    width: 400px;
    margin-bottom: 40px;

    img {
      width: 300px;
      margin: 0 50px;
      border-radius: 3px;
    }

    h4 {
      text-align: center;
      margin: 15px 0;
    }

    p {
      height: 100px;
      padding: 0 10px;
      box-sizing: border-box;
    }
  }

  

  div.contact a {
    @include button-large($primary, $primary, $white);
  }
}

/******************** 
Guide Page
********************/
div.guide, div.install-instructions {
  h1, h2, h3, h4, h5, h6 {
    span {
      display: none;
    }
  }
}

/******************** 
Install Page
********************/
div.install-instructions {
  margin: 30px 0;
}

a.guides {
  @include button-large($primary, $white, $primary);
}

p.guides-cta {
  font-size: 1.1em;
}


/******************** 
404 Page
********************/
div.oops {
  text-align: center;
  
  h2 {
    font-size: 6em;  
  }

  a {
    @include button-large($primary, $primary, $white);
  }
}

