$logo-font: 'Ubuntu Mono', monospace;
$body-font: 'Noto Sans', sans-serif;

// Colors
$primary: #0dba89;
$primary-light: #B9F4E4;

body {
  height: 100vh
}

div.wrapper {
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  display :flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: $primary;
}

h1 {
  font-family: $logo-font;
  letter-spacing: 2px;
  font-size: 4em;
}

div.project-description {
  p {
  font-family: $body-font;
  text-align: center;
  font-size: 1.3em;
  line-height: 160%;
  }
}

ul.project-links {
  padding: 0;
  
  li {
    display: inline-block;
    margin: 0 20px;

    a {
      font-size: 4em;
    }
  }
}

div.oops {
  text-align: center;
  
  h2 {
    font-size: 6em;  
    margin: 40px 0 0;
  }
  
  p {
    font-size: 1.5em;
  }
}
