$logo-font: 'Ubuntu Mono', monospace;
$body-font: 'Noto Sans', sans-serif;

// Colors
$primary: #0dba89;
$primary-light: #B9F4E4;

body {
  height: 100vh
}

div.wrapper {
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  display :flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #0dba89;
}

h1 {
  font-family: $logo-font;
  letter-spacing: 2px;
  font-size: 4em;
}

div.project-description {
  p {
  font-family: $body-font;
  text-align: center;
  font-size: 1.3em;
  line-height: 160%;
  }
}

ul.project-links {
  padding: 0;
  
  li {
    display: inline-block;
    margin: 0 20px;

    a {
      font-size: 4em;
    }
  }
}

div.repo-links {
  width: 100%;
  display: flex;
  justify-content: center;

  div {
    background-color: $primary-light;
    margin: 0 10px;
    border-radius: 3px;
    display: inline-block;
    min-width: 200px;
    box-sizing: border-box;
    padding: 5px;
    color: $primary;
    
    table {
      width: 100%;
    }

    &.gitlab {
      text-align: right;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -5px;
        right: 33px;
        width: 10px;
        height: 10px;
        background: $primary-light;
        border-right:1px solid $primary-light;
        border-bottom:1px solid $primary-light;
        -moz-transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
      }

      td {
        text-align: right;
      }
    }

    &.dockerhub {
      background-color: white;
      color: white;
    }
  }
}