@media only screen and (max-width: 750px) {
  form.bug, form.feedback {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  div.bios {
    div.bio {
      width: 100%;
      margin: 0 0px 40px;

      img {
        width: 80%;
        margin: 0 10%;
      }

      p {
        height: auto;
      }
    } 
  }

  form.bug, form.feedback {
    div.basic-info {
      div.basic-info-field {
        width: 100%;
        margin: 0;
      }
    }

    input[type=submit] {
      width: 100%;
    }
  }

  footer {
    ul.project-links {
      li {
        margin: 0 15px;
      }
    }
  }
}